.list {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  width: 460px;

  margin: 0 auto;
  padding: 20px;
}

.listItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 20px;

  font-size: 18px;
}

.button {
  cursor: pointer;
  font-size: 18px;
  width: 100px;
  height: 30px;

  color: #000;
  background-color: #f0d1d1;
  border: none;
  border-radius: 20px;
}

.button:hover,
.button:focus {
  color: #fff;
  background-color: #2e1daa;
}
